################################################################################
# This is a .gitignore file :)
################################################################################

# Node
/**/node_modules

# Visual Studio Code
.vscode/
